<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap"
    rel="stylesheet">
  <title>Nile</title>
  <script src="scripts/javascript.js" defer></script>
</head>

<body>
  <div class="header WorkSans">
    <ul class="header-ul">
      <li id="logo-text"> <a style="color:blue;" href="/nile">Nile</a> </li>
      <div class="navs-header">
        <li> <a href="pages/product_page.html">Brands</a> </li>
        <li> <a href="pages/aboutus.html">About</a> </li>
        <li> <a href="pages/support.html">Support</a> </li>
      </div>
      <div class="icons-header">
        <li> <a href="/nile/login" id="login-btn">Login</a> </li>
        <li> <a href="#"><img alt="Cart" src="images/cart.png"></a> </li>
      </div>
    </ul>
  </div>


  <div class="front">
    <video id="video" autoplay muted loop>
      <source src="images/front.mp4" type="video/mp4">
    </video>
    <img id="valt" src="images/valt.png">
    <div class="overlay open-sans">
      <div id="heading">First choice of audiophiles</div>
      <div id="content">Immerse in a world where every note feels personal. Experience the extraordinary sound and
        comfort of Nile headphones—where music becomes a journey</div>
    </div>
  </div>


  <div class="catalouge open-sans">
    <div class="ccont">
      <div id="chead">Flagship IEMS</div>
      <br>
      <div id="ctext">
        Precision-engineered for the ultimate audio experience. Our IEMs deliver unmatched clarity and comfort, letting
        you lose yourself in every beat. Elevate your sound, wherever you go.
      </div>
      <a href="#" class="y-straight">browse product &#8594;</a>
    </div>
    <img src="images/iem.jpg">
  </div>
  <div class="catalouge open-sans">
    <div class="ccont">
      <div id="chead">Precision-engineered Headphones</div>
      <br>
      <div id="ctext">
        Our headphones are crafted for those who live for sound. Experience rich, powerful audio with a fit that feels
        just right. Your music, your way—everywhere you go.
      </div>
      <a href="#" class="y-straight">browse product &#8594;</a>
    </div>
    <img src="images/hd600.jpg">
  </div>


  <div class="scroll-card y-straight">
    <h1>BEST SELLING</h1>
    <div class="scroller" id="bestSelling">

    </div>
  </div>
  <div class="scroll-card y-straight">
    <h1>CLASSICS</h1>
    <div class="scroller" id="classic">

    </div>
  </div>
  <div class="scroll-card y-straight">
    <h1>FEATURED</h1>
    <div class="scroller" id="featured">

    </div>
  </div>


  <div class="review">
    <strong style="font-size: 20px; color: blue;">"Amazing Quality and Comfort!"</strong>
    <div class="review-content">I’ve tried many headphones before, but these are in a league of their own! The sound
      quality is incredible—crisp highs, deep bass, and zero distortion. Plus, they’re super comfortable for long
      listening sessions. Whether I’m working out, commuting, or just chilling at home, they deliver every time. Highly
      recommend to anyone looking to elevate their audio experience!
    </div>
    <div id="person">AMIT S. - professional musician</div>
  </div>

  <div class="footer">
    <div class="foot-info y-straight">
      <ul>
        <li style="font-size: 24px;">navigations</li>
        <br>
        <li><a href="#">about us</a></li>
        <li><a href="#">support</a></li>
        <li><a href="#">our story</a></li>
        <li><a href="#">brands</a></li>
      </ul>
      <ul>
        <li style="font-size: 24px;">products</li>
        <br>
        <li><a href="#">iems</a></li>
        <li><a href="#">headphones</a></li>
        <li><a href="#">ear buds</a></li>
      </ul>
    </div>
    <div class="line-sep"></div>
    <div class="bottom-line y-straight">
      <li id="blog"> <a href="#">&#169; 2024 <span style=" color: blue;">nile</span></a> </li>
      <li> <a href="#">privacy policy</a> </li>
      <li> <a href="#">term and conditions</a> </li>
    </div>
  </div>
</body>

</html>