<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Page</title>
  <style>
    body {
      background-color: #000;
      color: #fff;
    }
  </style>
</head>

<body>
  <h1>Nile <span id="logged-in"> </span></h1>
  <button id="logout-btn">Logout</button>
  <button id="login-btn">Login</button>
</body>
<script>
  // Fetch the authentication status from the server
  fetch('/web/auth-status')
    .then(response => response.json())
    .then(data => {
      if (data.authenticated) {
        document.getElementById('logged-in').textContent = "logged-in";
      }
      else {
        document.getElementById('logged-in').textContent = "logged-out";
      }
    })
    .catch(error => {
      console.log(error);
    });


  document.getElementById('logout-btn').addEventListener('click', () => {
    fetch('/web/logout', { method: 'POST' })
      .then(response => {
        if (response.ok) {
          document.getElementById('logged-in').textContent = "logged-out";
        } else {
          console.error('Logout failed');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });

  document.getElementById('login-btn').addEventListener('click', () => {
    window.location.href = '/login';
  });
</script>

</html>