body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

li 
{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #eeeeee;
}

.header {
  background-color: black;
  padding: 15px 50px;
}
.header-ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}
.navs-header {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  margin: 0;
  padding: 0;
  gap: 30px;
  font-weight: 500;
}
.icons-header {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-wrap: nowrap;
}
#logo-text 
{
  font-size: 25px;
  font-weight: 500;
}

.front {
  display: flex;
  flex: 0 1 auto;
}
#video {
  max-width: 100%;
  display: flex;
  position: relative;
  height: auto;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
}

.overlay #heading {
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  max-width: 1000px;
  color: #eeeeee;
}

.overlay #content {
  font-size: 20px;
  max-width: 500px;
  font-weight: 300;
  text-align: center;
  color: #eeeeee;
}




.WorkSans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;

}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.y-straight {
  font-family: "Ysabeau SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* catalouges */

.catalouge {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#ffffff;
}

.catalouge img {
  width: 30%;
  height: 30%;
  padding: 16px;
  flex: 0 1 auto;
}

#chead {
  font-size: 22px;
  font-weight: 700;
  color: black;
}

#ctext {
  font-size: 18px;
  font-weight: 400;
  color: rgb(94, 94, 94);
}

.ccont {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  max-width: 500px;
  flex: 0 6 auto;
}

.ccont a {
  color:#717171;
  font-size: 22px;
}


/* footer */
.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.foot-info {
  display: flex;
}

.bottom-line {
  display: flex;
  padding: 15px 50px;
  flex-wrap: nowrap;
  margin: 0;
  align-items: center;
  font-size: 18px;
  justify-content: start;
  gap: 20px;
}

#blog {
  margin-right: auto;
}











@media only screen and (max-width: 600px) {
  /* Styles for mobile devices */
  .catalouge img  {
  display: none;
 }
 .overlay {
  display: none;
 }
 .header {
  padding: 15px 15px;
 }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .catalouge img  {
    display: none;
   }
   .overlay {
    display: none;
   }
}